body{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

#card{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    display: flex;
    height: 400px;
    width: 800px;
    overflow: auto;
    
}

.section{
    padding: 40px;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: xx-large;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

p{
    font-size: small;
    line-height: 1.5;
}

button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    box-shadow: none;
    border-radius: 16px;
    padding: 10px 25px;
    position: sticky;
    top: 350px;
}

button:hover{
    color:white;
    border: 1px solid;
    border-color: white;
    cursor: pointer;

}
#lu{
    color: hsl(179, 100%, 13%, 0.8);
}

#lu:hover{
    background-color: hsl(179, 100%, 13%, 0.8);
    color: white;
}

#su{
    color: hsl(184, 100%, 22%, 0.8);
}

#su:hover{
    background-color: hsl(184, 100%, 22%, 0.8);
    color: white;
}

#se{
    color: hsl(31, 77%, 52%, 0.85);
}

#se:hover{
    background-color: hsl(31, 77%, 52%, 0.85);
    color: white;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
}

#suvs{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 675px) {

body{
    margin: 0px;
    position: revert;
}

#card{
    flex-direction: column;
    width: 300px;
    height: 3000px;
    top: 1600px
}    

#luxury{
    border-radius: 0px 0px 9px 9px;
    height: 300px;
    word-spacing: 2px;
}

#lu{
    top: 7000px;
}

#suvs{
    height: 300px;
    word-spacing: 2px;
}

#su{
    top: 5000px;
}

#sedans{
    height: 300px;
    word-spacing: 2px;
}

#txt{
    width: 210px;
}
}